/* Affects all */
html {
    background-color: rgb(77, 116, 180);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}

.bodyMod {
    background-color: rgb(77, 116, 180);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    
    }
  
    
    




/* Individual IDs */

#userchoice-text {
color: rgb(102, 0, 128);

}

#computerchoice-text {
    color: rgb(0, 180, 69);
}





#wins-text {
color: rgb(0, 132, 255);

}

#losses-text {
color: rgb(255, 38, 0);

}

#guessesleft-text {
color: rgb(255, 123, 0);

}



#directions-text {
    font-size: 33px;

}

.mods {
    background-color: white;
    border: solid rgb(0, 0, 0);
    margin-left: 33%;
    margin-right: 33%;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 29px;
    margin-top: 10%;
    display: solid black;
}

#GuessWhatLetterimThinkingOf {
    padding-bottom: 30px;
}